bench/out/
bench/tmp/
bench_results/
out_*/

/libhakozuna_hz8_preload*.so
/h8_smoke*
/h8_hz9_*
/h8_safety_stress*
/h8_medium_lazy_saturation
/h8_preload_smoke
/h8_bench*
/h8_remote_micro*

*.o
*.d
*.a
*.so
*.dll
*.exe
*.obj
*.lib
*.pdb
*.ilk
perf.data*
*.log
*.dmp
*.mdmp
*.minidump
*.etl
*.trace
