/hz10_pagemap_route_smoke
/hz10_pagemap_route_bench
/hz10_freelist_page_smoke
/hz10_freelist_page_bench
/hz10_remote_stack_drain_smoke
/hz10_remote_stack_drain_bench
/hz10_bounded_page_pool_smoke
/hz10_bounded_page_pool_bench
bench_results/
.external-disabled/

*.o
*.d
*.a
*.so
*.exe
