/hz10_pagemap_route_smoke
/hz10_pagemap_route_bench
/hz10_freelist_page_smoke
/hz10_freelist_page_bench
/hz10_remote_stack_drain_smoke
/hz10_remote_stack_drain_bench
/hz10_multiclass_remote_bench
/hz10_bounded_page_pool_smoke
/hz10_bounded_page_pool_bench
/hz10_class_pages_smoke
/hz10_public_entry_smoke
/hz10_public_entry_bench
/hz10_public_entry_active_scan_bench
/hz10_public_entry_active_mtf_bench
/hz10_public_entry_two_slot_bench
/hz10_public_entry_remote_batch_locality_bench
/hz10_public_entry_stage_cost_bench
/hz10_public_entry_local_path_bench
/hz10_class_pages_scan_bench
/hz10_size_class_smoke
/hz10_retired_ready_smoke
/hz10_retired_ready_bench
/hz10_public_entry_steady_state_bench
/hz10_public_entry_thread_reuse_bench
bench_results/
.external-disabled/

*.o
*.d
*.a
*.so
*.exe
